.list-group-item.disabled {
    display: none!important;
    }

.mouse-position {
    background-color: #646262;
    }

.top-controls .glyphicon {
    background-color: #91bd4a;
    }

#footer .control-icon,
#footer .mouse-position {
    background-color: #91bd4a;
    }

.attributions-button.control-icon {
	display: none!important;
    }

.attributions-view dt {
    color: #333333;
    font-size: 15px;
    }

.attributions-div {
    font-size: 12px;
    }

#title-text {
    font-size: 14px;
    color: #333333;
    }

ul#tree.light {
    overflow: visible;
    }

#portal-logo-box {
    font-size:20px;
	width: 380px;
	height: 380px;
	padding:70px 10px 30px 10px;
	border-radius: 200px;
    }

#portal-logo-box img {
    width: 60px;
	height: auto;
    }

.control-icon[data-v-88407a44]:hover {
    background-color: #c8dea4;
    }

.control-icon[data-v-88407a44]:focus {
    background-color: #c8dea4;
    }

.control-icon[data-v-88407a44]:active {
    background-color: #c8dea4;
    }

