.list-group-item.disabled {
	display: none!important;
}

.mouse-position {
  background-color: #646262;
}

.controls-view .glyphicon {
    background-color: #91bd4a;
}

.attributions-view dt {
    color: #333333;
    font-size: 10px;
}

.attributions-div {
 font-size: 10px;
 }

.portal-title {
  font-size: 14px;
  color: #333333;
}

ul#tree.light {
    overflow: visible;
}