.list-group-item.disabled {
	display: none!important;
}

.mouse-position {
  background-color: #cc1d1d;
}

.controls-view .glyphicon {
    background-color:#000000;
}

.attributions-view dt {
    color: #263372;
    font-size: 15px;
    
}

.attributions-div {
 font-size: 12px;
 }

.portal-title {
  font-size: 20px;
  color: #000000;
}

ul#tree.light {
    overflow: visible;
}

.navbar-default {
  background-color:  #ffffff;
  border-color:#cc1d1d;
}
.navbar-default .navbar-brand {
  color: #cc1d1d;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #72262a;
}
.navbar-default .navbar-nav > li > a {
  color: #000000;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #cc1d1d;
  background-color:  #ffffff;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #263372;
  background-color:  #969292;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color:  #838383;
}